<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AuthorizeEndpoint</key>
	<string>https://lovatt-org.us.authz.cloudentity.io/lovatt-org/default/oauth2/authorize</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.cloudentity.simple-pkce</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>iosmobile</string>
			</array>
		</dict>
	</array>
	<key>ClientID</key>
	<string>c9asn8s52872b2unjag0</string>
	<key>TokenEndpoint</key>
	<string>https://lovatt-org.us.authz.cloudentity.io/lovatt-org/default/oauth2/token</string>
</dict>
</plist>
